<!DOCTYPE html>
<html lang="en" data-framework="angularjs">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bundles/css")
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    </head>
<body>
    <div id="loading-overlay" ng-hide="loaded"><div class="content"><div class="loading-spinner spin-m"></div></div></div>
    @RenderBody()
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/burgerama")
    @RenderSection("scripts", required: false)
</body>
</html>
