@using System.Configuration
<!DOCTYPE html>
<html lang="en" data-framework="angularjs">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bundles/css")
    </head>
<body>
    <div id="loading-overlay" ng-hide="loaded"><div class="content"><div class="loading-spinner spin-logo"></div></div></div>
    <toaster-container toaster-options="{'position-class': 'toast-top-left', 'time-out': 2500}"></toaster-container>
    @RenderBody()
    <script type="text/javascript">
        var config = {
            'url': {
                'frontend':'@ConfigurationManager.AppSettings["url:frontend"]',
                'api': '@ConfigurationManager.AppSettings["url:api"]'
            },
            'auth0': {
                'domain': '@ConfigurationManager.AppSettings["auth0:domain"]',
                'clientId': '@ConfigurationManager.AppSettings["auth0:clientId"]'
        }};
    </script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/burgerama")
    @RenderSection("scripts", required: false)
</body>
</html>
